#myCanvas{
	margin-left:20px;
	margin-top:10px;
	box-shadow: 1px 1px 5px #888888;
}
.send_clear {
	margin-left: 20px !important;
}

.list-inline {
	margin-left: 20px !important;
}

#draw_form li {
	cursor: pointer;
}
#draw_form li img {
	border:1px solid;
}
#draw_form li:hover {
	opacity:0.6;
}
.btn-info {
	background:transparent !important;
}
.colors {
	margin-left: 20px !important;
}
.colors li {
	width:30px;
	height:30px;
	cursor: pointer;
	box-shadow: 1px 1px 1px;
	opacity:1;
}
.colors li:hover {
	opacity:0.6;
}

.colors label,ul {
	display:inline-block;
}
.colors button {
	width:0px;
	height:0px;
}
#blue_color {
	background-color: blue;
}